<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value="6320368743:AAG5AagUHr79L68MVDlI4hKAWh0kMY_qgRc" />
		<add key="TelegramBotConnection" value="Server=localhost;Port=3306;Database=telegram_bot;User Id=root;Password=;" />
	</appSettings>
</configuration>